@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer base {
  body {
    /* Aplica a fonte Inter, cor do texto primária e fundo suave */
    @apply font-sans text-text-primary bg-ui-background antialiased;
  }

  /* Aplica a fonte Outfit em todos os títulos */
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-primary;
  }
}